.container {
  flex: none;
  max-width: 900px;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 2rem;
  border-radius: 12px;
  width: 90%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.page-wrapper {
  display: flex;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
